<div class="col-md-6">
  <div class="card mb-4">
{#      Image from backend #}
    <img src="https://via.placeholder.com/800x400" alt="Blog Post Image" class="card-img-top">
    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <img src="avatar.jpg" alt="Author Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
        <div>
          <h6 class="m-0">Add Author Name</h6>
          <p class="text-muted m-0">Published on November 1, 2023 (datetime)</p>
        </div>
      </div>
      <h3 class="card-title">Blog Post Title 3 (title)</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id augue ut tortor consectetur aliquet. Mauris augue felis, tristique id mauris a, fermentum feugiat quam.</p>
{#     Blog content #}
      <a href="#" class="btn btn-warning">Read More</a>
    </div>
  </div>
</div>
